body {
    font-family: 'Montserrat', 'Calibri', sans-serif;
    text-align: center;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #000;
    padding-bottom: 7px;
    font-weight: bold;
    border-bottom: solid 1px #333;
    display: block;
}

header {
    position: relative;
    font-family: 'Lora', 'Times New Roman', serif;
}

header::before {
    content: "";
    display: block;
    background-color: #f7eac8;
    margin-right: -10px;
    height: 600px;
    width: 100%;
    position: absolute;
    bottom: 20px;
    transform: skewY(-7deg);
    z-index: -1;
}

h1 {
    font-size: 2.5em;
}


form {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 20px;
    align-content: center;
    justify-content: center;
    margin-bottom: 25px;
}

textarea {
    width: 300px;
    font-size: 0.85em;
    resize: none;
}

input, select, textarea {
    font-family: 'Montserrat', 'Calibri', sans-serif;
    margin: auto;
}

input[type="text"]{
    height: 1.5em;
    width: 300px;
}

select {
    width: 306px;
    height: 26px;
}
input[type="submit"] {
    margin: auto;
    width: 130px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #e1e1e1;
    border: solid 1px #666;
}

input[type="submit"]:hover {
    background-color: #fff;
    box-shadow: 5px 5px 10px 1px #aaa;
}

.hide {
    display: none;
}

label {
    letter-spacing: 0.5px;
    align-self:center;
}
.task {
    border-top: solid 1px #000;
    border-right: solid 1px #000;
    border-bottom: solid 1px #000;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px;
    text-align: left;
    overflow-wrap: break-word;
}


h4 {
    display: inline-block;
    margin-right: 10px;

}

.todo {
    border-left: solid 5px #db3340;
}

.indev {
    border-left: solid 5px #e8b71a;
}

.intest {
    border-left: solid 5px #28abe3;
}

.complete {
    border-left: solid 5px #1fda9a;
}

#currentTasks {
    width: 95%;
    margin: auto;
    display: grid;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    grid-template-columns: repeat( auto-fill, minmax(250px, 1fr) );
    justify-content: center;
}


.error {
    border: red solid 1px;
}

.errorTxt {
    margin-top: 0;
    color: red;
    font-size: 0.7em;
}



@media screen and (min-width:768px) {
    #currentTasks {
        width: 90%;
        margin: auto;
        display: grid;
        grid-row-gap: 20px;
        grid-column-gap: 20px;
        grid-template-columns: repeat( auto-fill, minmax(300px, 1fr) );
        justify-content: center;
    }

    form {
        grid-template-columns: 3fr 1fr 3fr;
        grid-row-gap: 10px;
        grid-column-gap: 15px;
    }

    label {
        justify-self: end;
    }

    input {
        justify-self: start;
    }

    p.errorTxt {
        justify-self: start;
    }

    input[type="text"],  input[type="submit"], select {
        margin: 0;
    }


}

